body{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    column-gap: 30px;
}
.cuerpo{
    background: gainsboro;
    display: inline-grid;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 3px;
}

.historico{
    display: inline-grid;
    border: 1px solid gainsboro;
    border-radius: 10px;
    grid-template-columns: 200px ;
    grid-template-rows: 50px auto;
}

.historico > .calculadora{
    background-color: gainsboro;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
}

.historico > #log{
    width: 100%;
    overflow-y:scroll;
}
#marco{
    display: inline-grid;    
    font-size: larger;
    align-items: center;
    justify-items: center;
    padding: 0.2em;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}

#display{
    
    display: inline-grid;
    justify-content: center;
    grid-template-columns: 200px ;
    grid-template-rows: 20px 120px;
    width: 100%;
}

#display > #input1{
    text-align:right;
    background-color: white;
    font-size: 2em;
    overflow-x:scroll;
}

.boton{
    width: 100%;
    height: 100%;
}

.boton > span{
    font-weight: bold;
    font-size: large;
}

.boton > strong{
    font-size: medium;
}
